

<div class="singleton widget rich nrk-masthead-no-search nrk-masthead js-initialize lp_masthead">
<div class="nrk-masthead-aligner">
<header class="nrk-masthead-content cf" role="banner">
<a href="http://www.nrk.no" class="nrk-masthead-heading" rel="home">NRK</a>
<a href="#nrk-masthead-navigation" class="nrk-masthead-mobile-switch">
<span class="sr-only">Meny</span>
</a>
<nav id="nrk-masthead-navigation" class="nrk-masthead-navigation" role="navigation">
<div class="nrk-masthead-menu">
<ul>
<li>
<a href="http://www.nrk.no/nyheter/">Nyheter</a>
<a href="#nrk-masthead-news-menu" class="nrk-masthead-menu-switch">
<span class="sr-only">Ekspandér Nyheter</span>
</a>
<ul id="nrk-masthead-news-menu">
<li><a href="http://www.nrk.no/norge/">Norge</a></li>
<li><a href="http://www.nrk.no/verden/">Verden</a></li>
<li><a href="http://www.nrk.no/trafikk/">Trafikk</a></li>
<li><a href="http://www.nrk.no/kultur/">Kultur</a></li>
<li><a href="http://www.nrk.no/livsstil/">Livsstil</a></li>
<li><a href="http://www.nrk.no/viten/">Viten</a></li>
<li><a href="http://www.nrk.no/fordypning/">Fordypning</a></li>
<li><a href="http://www.nrk.no/ytring/">Ytring</a></li>
<li><a href="http://www.nrk.no/sapmi/">NRK Sápmi</a></li>
</ul>
</li>
<li><a href="http://www.nrk.no/sport/">Sport</a></li>
<li><a href="https://tv.nrk.no/">TV</a></li>
<li><a href="https://radio.nrk.no/">Radio</a></li>
<li>
<a href="http://www.nrk.no/distrikt/" class="nrk-masthead-district-anchor">Distrikt</a>
<a href="#nrk-masthead-district-menu" class="nrk-masthead-menu-switch">
<span class="sr-only">Ekspandér Distrikt</span>
</a>
<ul id="nrk-masthead-district-menu" class="nrk-masthead-district-menu">
<li><a data-value="Akershus" href="http://www.nrk.no/ostlandssendingen/">Akershus</a></li>
<li><a data-value="Aust-Agder" href="http://www.nrk.no/sorlandet/">Aust-Agder</a></li>
<li><a data-value="Buskerud" href="http://www.nrk.no/buskerud/">Buskerud</a></li>
<li><a data-value="Finnmark" href="http://www.nrk.no/nordnytt/">Finnmark</a></li>
<li><a data-value="Hedmark" href="http://www.nrk.no/ho/">Hedmark</a></li>
<li><a data-value="Hordaland" href="http://www.nrk.no/hordaland/">Hordaland</a></li>
<li><a data-value="Møre og Romsdal" href="http://www.nrk.no/mr/">Møre og Romsdal</a></li>
<li><a data-value="Nordland" href="http://www.nrk.no/nordland/">Nordland</a></li>
<li><a data-value="Nord-Trøndelag" href="http://www.nrk.no/trondelag/">Nord-Trøndelag</a></li>
<li><a data-value="Oppland" href="http://www.nrk.no/ho/">Oppland</a></li>
<li><a data-value="Oslo" href="http://www.nrk.no/ostlandssendingen/">Oslo</a></li>
<li><a data-value="Rogaland" href="http://www.nrk.no/rogaland/">Rogaland</a></li>
<li><a data-value="Sogn og Fjordane" href="http://www.nrk.no/sognogfjordane/">Sogn og Fjordane</a></li>
<li><a data-value="Sør-Trøndelag" href="http://www.nrk.no/trondelag/">Sør-Trøndelag</a></li>
<li><a data-value="Telemark" href="http://www.nrk.no/telemark/">Telemark</a></li>
<li><a data-value="Troms" href="http://www.nrk.no/nordnytt/">Troms</a></li>
<li><a data-value="Vest-Agder" href="http://www.nrk.no/sorlandet/">Vest-Agder</a></li>
<li><a data-value="Vestfold" href="http://www.nrk.no/vestfold/">Vestfold</a></li>
<li><a data-value="Østfold" href="http://www.nrk.no/ostfold/">Østfold</a></li>
</ul>
</li>
</ul>
</div>
<div class="nrk-masthead-right">
<div class="nrk-masthead-secondary-menu">
<ul>
<li class="nrk-masthead-nrk-super"><a href="http://nrksuper.no"><span class="sr-only">NRK Super</span></a></li>
<li class="nrk-masthead-p3"><a href="http://p3.no"><span class="sr-only">NRK P3</span></a></li>
<li class="nrk-masthead-ut"><a href="http://ut.no/"><span class="sr-only">UT</span></a></li>
<li class="nrk-masthead-yr"><a href="http://yr.no"><span class="sr-only">Yr</span></a></li>
<li class="nrk-masthead-tips"><a href="http://www.nrk.no/tips/"><span class="sr-only">03030 Nyhetstips</span></a></li>
</ul>
</div>
</div>
<a href="#" class="nrk-masthead-footer-handle">
<span class="sr-only">Lukk meny</span>
</a>
</nav>
</header>
</div>
</div>
<script>
if (window.require) {
require(['Serum.Masthead']);
}
</script>